#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width:100%;
}
.App {
  width: 100%;
}

/*-------------------*/

.midi-container {
  margin: 20px;
}

.json-content {
  overflow-y: auto;
  height: 200px; /* for example, adjust as needed */
  /* other styles ... */
}

.json-content.expanded {
  height: auto;
}

.toggle-button {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 5px 15px;
  border-radius: 3px;
  transition: background-color 0.2s;
}

.toggle-button:hover {
  background-color: #e5e5e5;
}

.midi-info {
  margin-top: 20px;
}

.track-info {
  margin-top: 10px;
}

/* Playbar.css ---------------------------------- */

.playbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #eee;
  padding: 10px;
}

.play-pause-btn {
  margin-right: 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.play-pause-btn:hover {
  background-color: #555;
}

.progress-container {
  flex: 1;
  height: 10px;
  background-color: #aaa;
  border-radius: 5px;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #2196f3; /* Blue color */
}

.timer {
  color: #333;
  font-size: 0.9rem;
}

/* SeekablePlaybar.css */
.seekable-playbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #eee;
  padding: 10px;
  margin-top: 1em;
}
.seekable-playbar-left {
  width: 100%;
  display: flex;
  align-items: center;
}

.play-pause-btn {
  margin-right: 10px;
  padding: 5px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.play-pause-btn:hover {
  background-color: #0056b3;
}

.progress-container {
  flex-grow: 1;
  height: 5px;
  background-color: #e0e0e0;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}

.progress {
  height: 5px;
  background-color: #007bff;
}

.timer {
  min-width: 30px;
  text-align: center;
}

/* PianoRoll.css ---------------------------------  */
.piano-roll {
  position: relative;
  width: 100%;
  height: 1280px; /* 10px per MIDI note times 128 possible notes */
  background: #f8f8f8;
  border: 1px solid #ddd;
  overflow: auto;
}

.note {
  border: 1px solid #444;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
